<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PixelAimbot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PixelAimbot2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Resources.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PixelAimbot.Properties.Settings>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="txtPortalSearch" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="q" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="w" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="e" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="r" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="a" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="s" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="d" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="f" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="instant" serializeAs="String">
        <value />
      </setting>
      <setting name="potion" serializeAs="String">
        <value />
      </setting>
      <setting name="chboxinstant" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chboxheal" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chboxdungeontimer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chBoxAutoRepair" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="autorepair" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="chboxPaladin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chBoxShadowhunter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chBoxBerserker" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chBoxChannelSwap" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chBoxSaveAll" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chBoxActivateF2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="txtDungeon2search" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="txtDungeon2" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="version" serializeAs="String">
        <value>1.5.7r</value>
      </setting>
      <setting name="cQ" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="cW" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="cE" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="cR" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="cA" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="cS" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="cD" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="cF" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="heal10" serializeAs="String">
        <value />
      </setting>
      <setting name="chBoxSorcerer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chBoxDeathblade" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chBoxSharpshooter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="checkBoxHeal10" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chBoxLOGOUT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="txPQ" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="txPW" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="txPE" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="txPR" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="txPA" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="txPS" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="txPD" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="txPF" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="txtLOGOUT" serializeAs="String">
        <value />
      </setting>
      <setting name="chBoxSoulfist" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chBoxDoubleQ" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chBoxDoubleW" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chBoxDoubleE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chBoxDoubleR" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chBoxDoubleA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chBoxDoubleS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chBoxDoubleD" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chBoxDoubleF" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chBoxActivateF3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="txtDungeon3search" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="txtDungeon3" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="txLeaveTimer       " serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="txLeaveTimerFloor2" serializeAs="String">
        <value>165</value>
      </setting>
      <setting name="chBoxBard" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chBoxAutoMovement" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chBoxRevive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="txtRestart" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="chBoxGunlancer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chBoxGunlancer2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chBoxDeathblade2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chBoxAwakening" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="txtRevive" serializeAs="String">
        <value>85</value>
      </setting>
      <setting name="textBoxAutoAttack" serializeAs="String">
        <value>1500</value>
      </setting>
      <setting name="chBoxUnstuckF1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HealthSlider1" serializeAs="String">
        <value>801</value>
      </setting>
      <setting name="txtHeal10" serializeAs="String">
        <value>F1</value>
      </setting>
      <setting name="chBoxCrashDetection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="comboBox1" serializeAs="String">
        <value>0</value>
      </setting>
    </PixelAimbot.Properties.Settings>
    <PixelAimbot2.Properties.Settings>
      <setting name="username" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
    </PixelAimbot2.Properties.Settings>
  </userSettings>
</configuration>